/*
 * This file specifies the JAAS login modules to be used by the SAS security 
 * manager to authenticate users for a particular security domain.
 * Add your login module entries for one or more security domains to this file.
 * Make sure the system property, "java.security.auth.login.config" is set 
 * to the absolute path of this file when the SAS is started.
 * For HttpDBBasedLoginModule ModuleName defines name of this module.It is mandatory and should be unique.
 * At least one of PrimaryDatasourceName or SecondaryDatasourceName should be specified in case of HttpDBBasedLoginModule.
 */

HttpLogin {

    com.baypackets.ase.tomcat.security.HttpFileBasedLoginModule SUFFICIENT authInfoFile="conf/users.dat";

    com.baypackets.ase.tomcat.security.HttpDBBasedLoginModule SUFFICIENT  
        ModuleName=LoginModule1
        PrimaryDatasourceName=
        SecondaryDatasourceName=
	USER_TABLE=
	USER_NAME_COLUMN=
	USER_CREDENTIAL_COLUMN=
	ROLE_NAME_COLUMN=

}; 

 
other
{
	com.baypackets.ase.security.FileBasedLoginModule REQUIRED
	authInfoFile="conf/users.dat";
	
	com.baypackets.ase.security.DBBasedLoginModule REQUIRED
	datasourceName=
	USER_TABLE=
	USER_NAME_COLUMN=
	USER_CREDENTIAL_COLUMN=
	ROLE_NAME_COLUMN=
};
