<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
    
<web-app>

  <servlet>
        <servlet-name>
            ClickToDialHttpServlet
        </servlet-name>
        <servlet-class>
            com.baypackets.clicktodial.servlets.ClickToDialHttpServlet
        </servlet-class>         
   </servlet>

  <servlet>
        <servlet-name>
            CallStatusServlet
        </servlet-name>
        <servlet-class>
            com.baypackets.clicktodial.servlets.CallStatusServlet
        </servlet-class>
   </servlet>   
   
  <servlet-mapping>
        <servlet-name>
            ClickToDialHttpServlet
        </servlet-name>
        <url-pattern>
            /ClickToDialHttpServlet
        </url-pattern>
  </servlet-mapping>

  <servlet-mapping>
        <servlet-name>
            CallStatusServlet
        </servlet-name>
        <url-pattern>
            /CallStatusServlet
        </url-pattern>
  </servlet-mapping>  
  
</web-app>
