<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CIM</display-name>
 <servlet>
		<servlet-name>CIM</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.baypackets.ase.sysapps.cim.manager</param-value>
		</init-param>
		
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
        <servlet-name>CIMHTTPServlet</servlet-name>
        <servlet-class>com.baypackets.ase.sysapps.cim.receiver.CIMHTTPServlet</servlet-class>
	<multipart-config>
      <!-- 50MB max -->
      <max-file-size>52428800</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
    </servlet>
	
    <servlet-mapping>	
        <servlet-name>CIMHTTPServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CIMHTTPServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>CIMHTTPServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CIM</servlet-name>
		<url-pattern>/cim/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
 	<welcome-file>Test.jsp</welcome-file>
	</welcome-file-list>

</web-app>

