<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">
    <persistence-unit name="mgmt" transaction-type="JTA">
        <jta-data-source>java:/PortalDS</jta-data-source>
	  <properties>
	    <property name="hibernate.hbm2ddl.auto" value="update"/>
            <property name="hibernate.show_sql" value="true"/>
      </properties>
    </persistence-unit>
</persistence>
